.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30.5px;
  align-items: center;
  position: relative;
  &__title {
    @include default-font(26px, 500);
  }
  &__lock {
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #175dde;
    border-radius: 0.25rem;
    svg{
      font-size: 20px;
      path{
        fill: white;
      }
    }
  }
  &__wrapper-right {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
  }
  &__photo {
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-color: transparent;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__settings {
    position: absolute;
    right: 0px;
    @include default-font(14px);
    top: 50px;
    width: 210px;
    z-index: -100;
    border: 1px solid #89929f;
    border-radius: 0.25rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform ease 0.2s, opacity ease 0.2s;
    &_active {
      background-color: white;
      z-index: 100;
      opacity: 1;
      transform: translateY(0px);
    }
    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
    }
    &-user-data {
      padding: 12px 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      border-bottom: 1px solid #89929f;
      svg {
        max-width: 45px;
        max-height: 45px;
        width: 100%;
        height: 100%;
      }
    }
    &-option-list {
      padding: 12px 0 12px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-bottom: 1px solid #89929f;
    }
    &-option {
      padding: 6px 14px 6px 14px;
      display: flex;
      gap: 5px;
      cursor: pointer;
      background-color: transparent;
      transition: background-color ease 0.2s;
      align-items: center;
      svg {
        font-size: 18px;
      }
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}
