.start-page {
  &__wrapper {
    padding: 100px 25px 25px 25px;
  }
  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @include default-font(35px);
    @include adaptive-font(35, 25);
  }
  &__title {
    @include adaptive-font(45, 30);
  }
  &-description {
    margin-top: 20px;
    text-align: center;
    @include adaptive-font(20, 16);
    @include default-font(20px);
  }
}
